body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-image: url('artistic\ sunrise.jpg');
    background-size: cover; 
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    border-left: 1px solid rgb(252, 252, 252);
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: rgb(247, 6, 195);
    border-radius: 0;
    border-bottom: 2px solid rgb(253, 252, 252);
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
    margin: 3px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid rgb(248, 248, 248);;
  }
  
  .hour {
    color: rgb(250, 248, 248);
  }
  
  .past {
    color: white;
  }
  
  .present {
    background-color: darkred;
    color: white;
  }
  
  .future {
    background-color: darkgreen;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: black;
    color: white;
  }
  
  i {
    font-size: 30px;
  }

  .saveBtn i:hover {
    font-size: 40px;
    transition: all .3s ease-in-out;
    color: black;
  }